h2{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.d-flex{
  padding-top: 20px;
  padding-right: 20px;
}

.card{
  border-radius: 25px;
  margin: 5px;
  background-color: rgba(136,129,135, 0.8);
}

.card-img-top{
  border-radius: 25px;
  margin-top: 10px;
}
