.container{
  width: 40%;
}
.form-control{
  background-color: rgba(182,162,157, 1);
  border-radius: 25px;
}

h2{
  padding-top: 120px;
  padding-bottom: 40px;
  text-align: center;
}

input{
  margin-top: 5px;
}
.btn{
  margin-top: 40px;
}
