<div class="home">
    <div class="d-flex flex-row-reverse align-items-center buttons">
      <button type="button" class="btn btn-light" (click)="goToRegister()">Register</button>
      <p class="space"></p>
      <button type="button" class="btn btn-light" (click)="goToLogin()">Login</button>
    </div>
    <h2>Welcome to BookLover</h2>
    <div class = "container">
      <div class = "vertical-center-row">
        <h3>Deciding what to read next?</h3>
        <p>Choosing a book you would love to read can be challenging, but you’re in the right place.You can find here surprisingly insightful recommendations or maybe you will find what your friends are reading at the moment. It can also be a place where you can talk about your favorite books and even make friends.</p>
      </div>
    </div>
</div>
