/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
* {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
html,body{
  height: 100%;
}

html,body{
  background-image: url('/assets/images/background.jpg');
  background-position: center;
  background-size: cover;
}
