<div class="review">
  <h4>Write your opinion about {{title}}</h4>
  <div class="container">
    <form [formGroup]="reviewForm" (ngSubmit)="addReview()">
      <input formControlName="comment" class="form-control" placeholder="Review" name="comment"
             [ngClass]="reviewForm.controls['comment'].errors ? 'is-invalid' : ''"/>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['comment'].errors?.['required'] && reviewForm.controls['comment'].touched">
        Review is required.
      </small>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['comment'].errors?.['minlength']">
        Review must be at least 3 characters long.
      </small>
      <input formControlName="reviewRating" class="form-control" placeholder="Rating"
             [ngClass]="reviewForm.controls['reviewRating'].errors ? 'is-invalid' : ''"/>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['reviewRating'].errors?.['min']">
        Rating must be between 0 and 5.
      </small>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['reviewRating'].errors?.['max']">
        Rating must be between 0 and 5.
      </small>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['reviewRating'].errors?.['pattern']">
        Rating must be a number.
      </small>
      <small class="text-danger" style="font-size: 15px"
             *ngIf="reviewForm.controls['reviewRating'].errors?.['required'] && reviewForm.controls['reviewRating'].touched">
        Rating is required.
      </small>
    </form>
  </div>
  <div class="buttons">
    <button type="submit" [disabled]="reviewForm.status === 'INVALID'" class="btn btn-light float-end" (click)="addReview()">Add Review
    </button>
  </div>
</div>
